# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/

# Build artifacts
dist/
build/
*.exe
*.pkg

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets / local config
.env
*.ini

backup/
*.ini

